@color-inside-heder: #2E0000;
@color-inside: #130000;
@color-outside: #937731;
@color: #554827;


*,
*::before,
*::after {
    box-sizing: border-box;
}

.home{
    position: relative;
    .name {
        margin: 15% 0px 20px 10px;
        text-align: -webkit-center;
        h1 {
            font-size: 96px;
            font-weight: 700;
            letter-spacing: 7px;
            color: @color-inside-heder;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: @color-outside;
        }
    }
    .dotes {
        margin: 20px 0px 20px 0px;
        text-align: -webkit-center;
        #d1,#d2,#d3 {
            display: inline; /* Отображать как строчный элемент */
            margin-right: 8px;
            padding: 0px 1px 0px 7px;
            font-size: 7px;
            background-color: @color;
            border-radius: 50%;
        }
    }
    .view {
        margin: 30px 0px 0px 335px;  
        font-size: 18px;  
        height: 198px; 
        &__red__block {
            display: flex;
            width: 684px;
            height: 190px;
            border-radius: 19px;
            float: left;
            background-color: @color-inside;
            color: @color-outside;
            font-weight: 700;
            border: 1px solid @color-outside;
            .red__block__content p{
                margin: 16px 0px 11px 25px;
            }
        }
        &__black_block {
            margin-left: 50px;
            font-weight: 400;
            border-radius: 19px;
            width: 505px;
            height: 188px;
            background-color: black;
            border-left: 1px solid @color-outside;
            .black_block__content p{
                margin: 16px 0px 11px 25px;
            }
        }
    }
    .button__home{
        margin-top: 45px;
        .left-line{
            position: absolute;
            top: 400px;
            width: 655px;
            margin-top: 41px;
            border: 1.5px solid  @color-inside-heder;
        }
        .right-line{
            position: absolute;
            top: 400px;
            width: 645px;
            right: 0;
            margin-top: 41px;
            border: 1.5px solid @color-inside-heder;
        }
        .content-button{
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 1px solid @color-outside;
            margin: 0px 0px 0px 49.15%;
            img{
                margin: 5px 0px 0px 7px;
            }
        }
    }
}

.about{
    margin: 60px 0px 60px 0px;
    text-align: -webkit-center;
    h2{
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 7px;
        color: @color-inside-heder;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: @color-outside;
    }
    &-content{
        text-align: justify;
        width: 630px;
        height: 505px;
        font-size: 24px;
        line-height: 1.1;
        margin-top: 50px;
        color: @color-outside;
        .head{
            margin-top: 50px;
        }
        .myself{
            margin: 10px 0px 10px 0px;
        }
        .footer{
            margin: 10px 0px 0px 0px;
        }
    }
    .button__about{
        position: relative;
        display: flex;
        .left-line{
            position: absolute;
            top: 15px;
            width: 630px;
            border: 1.5px solid  @color-inside-heder;
        }
        .right-line{
            position: absolute;
            top: 15px;
            width: 624px;
            right: 0;
            border: 1.5px solid  @color-inside-heder;
        }
        .button-up{    
            float: left;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            margin: 0px 7px 0px 47.7%;
            border: 1px solid @color-outside;
            img{
                margin: 5px 0px 0px 0px;
            }
        }
        .button-down{    
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 1px solid @color-outside;
            img{
                margin: 5px 0px 0px 0px;
                transform: rotate(180deg);
            }
        }
    }
}
.work{
    text-align: -webkit-center;
    h2{
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 7px;
        color: @color-inside-heder;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: @color-outside;
    }
    .carousel{
        margin: 50px 0px 20px 0px;
        height: 500px;
        .carousel-item{
            width: 340px;
            height: 405px;
            background-color: @color-inside;
            border-radius: 19px;
            border: 1px solid @color-outside;
            border-top: 0px;
            .title{
                width: 338px;
                height: 70px;
                background-color: black;
                border-radius: 19px;
                border: 1px solid @color-outside;
                border-left: 0px;
                border-right: 0px;
                p{
                    margin-top: 7px;
                    font-size: 36px;
                    color: @color-outside;
                }
            }
            &-content{
                color: @color-outside;
                .status{
                    display: flex;
                    float: left;
                    width: 298px;
                    height: 38px;
                    background-color: @color-inside;
                    border: 1.5px solid black;
                    border-radius: 19px;
                    margin: 20px 20px 0px 20px;
                    padding-left: 15px;
                    p{
                        font-size: 24px;
                    }
                    .during{
                        width: 108px;
                        height: 36px;
                        border-radius: 19px;
                        border: 1px solid @color-outside;
                        background-color: black;
                        margin-left: 112px;
                        p{
                            font-weight: 700;
                        }
                    }
                }
                .description{   
                    display: block;
                    float: left;
                    margin: 20px 0px 0px 20px;
                    .titlee{
                        position: relative;
                        left: -60px;
                        width: 140px;
                        height: 50px;
                        border: 1.5px solid black;
                        border-radius: 19px;
                        p{
                            font-weight: 700;
                            font-size: 24px;
                        }
                    }
                    .content{
                        position: relative;
                        top: -15px;
                        width: 297px;
                        height: 138px;
                        border: 1px solid @color-outside;
                        border-radius: 19px;
                        background-color: black;
                        padding: 7px;
                        p{
                            text-align: justify;
                            font-size: 16px;
                        }
                    }
                }
                .link-block{
                    display: flex;
                    float: left;
                    margin: 10px 20px 0px 20px;
                    .demo,.github{
                        width: 123px;
                        height: 35px;
                        border: 1px solid @color-outside;
                        border-radius: 19px;
                        background-color: black;
                        font-size: 24px;
                        a{
                            color: @color-outside;
                        }
                    }
                    .github{
                        margin-left: 52px;
                    }
                }
            }
        }
    }
    .button__work{
        position: relative;
        display: flex;
        top:-10px;
        .left-line{
            position: absolute;
            top: 15px;
            width: 650px;
            border: 1.5px solid  @color-inside-heder;
        }
        .right-line{
            position: absolute;
            top: 15px;
            width: 644px;
            right: 0;
            border: 1.5px solid  @color-inside-heder;
        }
        .content-button{    
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 1px solid @color-outside;
            margin: 0px 0px 0px 49.15%;
            img{
                margin: 7px 0.5px 0px 0px;
            }
        }
    }
}


