<div class="block-info">
    <div class="head-block">
        <div class="header-block-clock">
            {{ date | async | date:'HH:mm' }}
        </div>
        <div class="header-block-news">
            <p>News</p>
            <ul>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        1 First work day
                    </a>
                </li>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        2 What better? Angular vs React
                    </a>
                </li>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        3 Project for heart
                    </a>
                </li>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        4 First work day
                    </a>
                </li>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        5 What better? Angular vs React
                    </a>
                </li>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        6 Project for heart
                    </a>
                </li>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        7 First work day
                    </a>
                </li>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        8 What better? Angular vs React
                    </a>
                </li>
                <li>
                    <a href="https://animevost.org/tip/tv/2365-isekai-quartet-2nd-season.html"> 
                        9 Project for heart
                    </a>
                </li>
            </ul>
        </div>
        <div class="network">
            <li>
                <a href="https://t.me/B_lack_Out">
                    <img src="../../assets/img/Tg.jpg" alt="Tg">
                </a>
            </li>
            <li>
                <a href="https://vk.com/id161375811">
                    <img src="../../assets/img/Vk.jpg" alt="Vk">
                </a>
            </li>
        </div>
    </div>
    <div class="foot-block-navbar">
        <li>
            <a>Home</a>
        </li>
        <li>
            <a>About</a>
        </li>
        <li>
            <a>Work</a>
        </li>
    </div>
</div>
<div class="home">
    <div class="block_name">
        <h1 id="LastName" ><span style="color: #450000;">K</span>aralchuk</h1>
        <h1 id="FirstName"><span style="color: #450000;">A</span>rtyom</h1>
        <h1 id="Patronymic"><span style="color: #450000;">G</span>rigorievich</h1>
    </div>
    <div class="view_info">
        <div class="LeftBlock" >
            <div class="contentLeft">
                <div class="shadowleft">
                    <p>Number</p>
                </div>
                <div class="shadowleft">
                    <p>Email</p>
                </div>
                <div class="shadowleft">
                    <p>Repositories</p>
                </div>
                <div class="shadowleft">
                    <p>LinkedIn</p>
                </div>
            </div>
        </div>
        <div class="RightBlock">
            <div class="contentRight">
                <div class="shadowRight">
                    <p>+375 (44) 797 - 17 - 86</p> 
                </div>
                <div class="shadowRight">
                    <p>artuom441@gmail.com</p>
                </div>
                <div class="shadowRight">
                    <p><a href="https://github.com/KaralchukArtem?tab=repositories">
                        https://github.com/KaralchukArtem?tab=repositories</a></p>
                </div>
                <div class="shadowRight">
                    <p><a href="https://www.linkedin.com/in/atryom-karalchuk-657725179">
                        https://www.linkedin.com/in/atryom-karalchuk-657725179</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="button__home">
        <div class="left-line"></div>  
        <div class="content-button">
            <a>
                <p>H</p>
            </a>
        </div>
        <div class="right-line"></div>
    </div>
</div>
<div class="about">
    <div class="your-page-element-about">
        <h2>Abo<span style="color: #450000;">u</span>t me</h2>
    </div>
    <div class="about-content">
            <div class="head"> Looking for corner practice 8+. </div>
            <div class="text"> 
                <div class="first">
                    Hello, after I began to study the angular, I would like to know more about this framework in your mentoring.
                    Experience not only with English speakers, but also with web development, to learn a lot and meet interesting 
                    people who can share their experiences and exciting stories.
                </div>
                <div class="second"> About myself: </div>
                <div class="third">
                        At the moment, training is taking 4 courses in the specialty of a computer programmer: C ++, C #,
                        javascript, C # under Unity, typescript.
                </div>
                <div class="fourth">
                        In my free time I go in for sports (running, horizontal bars) and vocals in the PaPay group. So at the meeting. 
                        The last of which was this: GoWay, .Net core 3.0, Minsk.Js., Angular Minsk 1-3, Angular Belarus. I learned a lot of new, interesting.
                </div>
            </div>
    </div>
    <div class="button__about">
        <div class="left-line"></div>  
        <div class="content-button">
            <a>
                <p>A</p>
            </a>
        </div>
        <div class="right-line"></div>
        </div>
</div>
<div class="work" >
    <div class="your-page-element-work">
        <h2 id="work">W<span style="color: #450000;">o</span>rk</h2>
    </div>
    <div class="carousel">
        <div class="carousel-item" href="#one!">
            <div class="title"><p>Authorization</p></div>
            <div class="carousel-item-content">
                <div class="status">
                    <div><p>Status</p></div>
                    <div class="during"><p>During</p></div>
                </div>
                <div class="description">
                    <div class="titlee">
                        <p>Description</p>
                    </div>
                    <div class="content">
                            <p>At the moment, training is taking 4 courses in the 
                                specialty of a computer programmer: C ++, C #,
                                javascript, C # under Unity, typescript.</p>
                    </div>
                </div>
                <div class="link-block">
                    <div class="github"><a href="https://github.com/KaralchukArtem/Notes">GitHub</a></div>
                </div>
            </div>
        </div>
        <div class="carousel-item" href="#two!">
            <div class="title"><p>DataBase</p></div>
            <div class="carousel-item-content">
                    <div class="status">
                        <div><p>Status</p></div>
                        <div class="during"><p>During</p></div>
                    </div>
                    <div class="description">
                        <div class="titlee">
                            <p>Description</p>
                        </div>
                        <div class="content">
                                <p>At the moment, training is taking 4 courses in the 
                                    specialty of a computer programmer: C ++, C #,
                                    javascript, C # under Unity, typescript.</p>
                        </div>
                    </div>
                    <div class="link-block">
                        <div class="github"><a href="#">GitHub</a></div>
                    </div>
                </div>
        </div>
        <div class="carousel-item" href="#three!">
            <div class="title"><p>Portfolio</p></div>
            <div class="carousel-item-content">
                    <div class="status">
                        <div><p>Status</p></div>
                        <div class="during"><p>During</p></div>
                    </div>
                    <div class="description">
                        <div class="titlee">
                            <p>Description</p>
                        </div>
                        <div class="content">
                                <p>At the moment, training is taking 4 courses in the 
                                    specialty of a computer programmer: C ++, C #,
                                    javascript, C # under Unity, typescript.</p>
                        </div>
                    </div>
                    <div class="link-block">
                        <div class="github"><a href="https://github.com/KaralchukArtem/Portfolio">GitHub</a></div>
                    </div>
                </div>
        </div>
    </div>
    <div class="button__work">
        <div class="left-line"></div>
        <div class="right-line"></div>
        <div class="content-button">
            <a>
                <p>W</p>
            </a>
        </div>
    </div>
</div>
