@color-light-brown: #A99E73;
@color-dark-brown: #675F40;
@color-red: #450000;
@color-gray: #131111;
@color-gray-light:#2C2C2C;
@color-white: #ffffff;
@color-black: #000000;


*,
*::before,
*::after {
    box-sizing: border-box;
}

.block-info{
    z-index: 1;
    margin: 0px 0px 0px 70px;
    position: fixed;
    .head-block{
        width: 160px;
        height: 312px;
        border-radius: 12px;
        padding-top: 10px;
        text-align: center;
        background-color: @color-gray;
        box-shadow: -12px 0px @color-gray-light;
        .header-block-clock{
            display: inline-grid;
            font-size: 42px;
            font-weight: 400;
        }
        .header-block-clock::after{
            content: '';
            width: 100px;
            height: 1px;
            margin-bottom: 5px;
            background-color: @color-white;
        }
        .header-block-news{
            p{
            font-size: 20px;
            font-weight: 400;
            }
            ul{
                display: block;
                -ms-overflow-style: none;
                overflow-y: scroll;
                overflow-x: hidden;
                overflow: overlay;
                height: 160px;
                width: 130px;
                margin-left: 20px;
                padding-left: 10px;
                margin-block-start: 0.5em;
                margin-block-end: 0.5em;
                border: 1px solid @color-black;
                border-radius: 12px;
                box-shadow: -9px 0px @color-black;
            }
            ul::-webkit-scrollbar{
                width: 0px;
                background: transparent;
            }

            li{
                //list-style: none;
                height: 29px;
                border-bottom: 1px solid @color-white;
                padding: 5px 5px 5px 5px;
            }
            a{
                display: block;
                color: @color-white;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: justify;
                font-size: 14px;
            }
        }
        .network{
            display: flex;
            li{
                float: left;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                border: 1px solid @color-white;
                margin-left: 37px;
                img{
                    width: 22px;
                    height: 22px;
                    border-radius: 12px;
                }
            }
        }
    }
    .foot-block-navbar{
        margin-top: 10px;
        width: 160px;
        height: 140px;
        border-radius: 12px;
        padding-top: 0px;
        //text-align: center;
        background-color: @color-gray;
        box-shadow: -12px 0px @color-gray-light;
        li{
            a{

            }
        }
    }
}
.home{
    position: relative;
    .block_name {
        margin: 9% 0px 20px 25%;
        width: 703px;
        height: 220px;
        h1{    
            margin: 0px 0px 20px 0px;
            font-size: 85px;
            font-weight: 400;
            float: left;
            letter-spacing: 7px;
        }
        span{
            margin-right: 7px;
        }
        #FirstName{
            margin-left: 60px;
        }
        #LastName{
            margin-left: 30px;
        }
        #Patronymic{
            margin-left: 170px;
        }
        #LastName,#FirstName,#Patronymic{
            content: counter();
            text-shadow:  -9px 0px @color-gray-light;
        }
    }
    .view_info {
        margin: 50px 0px 0px 25%;  
        font-size: 18px; 
        width: 703px; 
        height: 198px; 
        display: flex;
        .LeftBlock {
            float: left;
            width: 189px;
            height: 190px;
            font-weight: 400;
            border-radius: 12px;
            background-color: @color-gray;  
            box-shadow: -12px 0px @color-gray-light;
            .contentLeft{
                margin-top: 27px;
                .shadowleft{
                    margin: 8px 0px 0px 25%;
                    padding-left: 10px;
                    width: 115px;
                    height: 29px;
                    border-radius: 12px;
                    border: 1px solid @color-black;
                    background-color: @color-gray;
                    box-shadow: -9px 0px @color-black;
                }
            }
        }
        .RightBlock {
            margin-left: 22px;
            width: 488px;
            height: 190px;
            font-weight: 400;
            border-radius: 12px;
            background-color: @color-gray;
            box-shadow: -12px 0px @color-gray-light;
            .contentRight{
                margin: 27px 0px 0px 20px;
                .shadowRight{
                    margin: 8px 0px 0px 0px;
                    padding-left: 10px;
                    width: 454px;
                    height: 29px;
                    border-radius: 12px;
                    border: 1px solid @color-black;
                    background-color: @color-gray;
                    box-shadow: -9px 0px @color-black;
                }
                a{
                    color: @color-white;
                }
            }
        }
    }
    .button__home{ 
        display: flex;
        margin-top: 30px;
        .left-line{
            float: left;
            width: 650px;
            margin: 20px 10px 20px 0px;
            border: 1px solid @color-white;
            background-color: @color-black;
        }
        .right-line{
            float: left;
            width: 650px;
            right: 0;
            margin: 20px 0px 20px 10px;
            border: 1px solid @color-white;
            background-color: @color-black;
        }
        .content-button{
            float: left;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 1px solid @color-white;
            background-color: @color-gray;
            margin: 5px 0px 0px 0px;
            p{
                font-family: 'Roboto';
                margin: 1px 0px 0px 8px;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}
.about{
    position: relative;
    .your-page-element-about{
        margin: 65px 0px 0px 42%;
        padding-top: 12px;
        width: 230px;
        height: 80px;
        background-color: black;
        border-radius: 12px;
        text-align: center;
        h2{
            margin: 0;
            font-size: 48px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 7px;
            span{
                margin-right: 7px;
            }
        }
    }
    
    &-content{
        margin: 30px 0px 0px 25%;
        .head{
            display: inline-block;
            margin-bottom: 10px;
            padding: 15px 0px 0px 40px;
            width: 701px;
            height: 65px;
            font-size: 27px;
            border-radius: 12px;
            background-color: @color-gray;
            box-shadow: -12px 0px @color-gray-light;
        }
        .text{
            text-align: justify;
            width: 701px;
            height: 385px;
            font-size: 18px;
            padding-top: 1px;
            line-height: 1.2;
            font-weight: 400;
            border-radius: 12px;
            text-align: left;
            background-color: @color-gray;
            box-shadow: -12px 0px @color-gray-light;
            .first{
                margin: 30px 0px 0px 40px;
                width: 640px;
            }
            .second{
                margin: 10px 0px 10px 40px;
                width: 640px;
            }
            .third{
                margin: 10px 0px 0px 40px;
                width: 640px;
            }
            .fourth{
                margin: 10px 0px 0px 40px;
                width: 640px;
            }
        }
    }
    .button__about{
        display: flex;
        margin-top: 35px;
        .left-line{
            float: left;
            width: 650px;
            margin: 20px 10px 20px 0px;
            border: 1px solid @color-white;
            background-color: @color-white;
        }
        .right-line{
            float: left;
            width: 650px;
            right: 0;
            margin: 20px 0px 20px 10px;
            border: 1px solid @color-white;
            background-color: @color-white;
        }
        .content-button{
            float: left;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 1px solid @color-white;
            background-color: @color-gray;
            margin: 5px 0px 0px 0px;
            p{
                margin: 0px 0px 0px 8px;
                font-size: 18px;
                font-weight: 400;
                font-family: 'Roboto';
            }
        }
    }
}
.work{
    position: relative;
    .your-page-element-work{
        margin: 70px 0px 0px 42%;
        padding-top: 12px;
        width: 230px;
        height: 80px;
        background-color: black;
        border-radius: 12px;
        text-align: center;
        h2{
            margin: 0px;
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 7px;
            line-height: 1.2;
            span{
                margin-right: 7px;
            }
        }
    }
    .carousel{
        margin:30px 0px 20px 0px;
        text-align: center;
        height: 550px;
        .carousel-item{
            width: 340px;
            height: 550px;
            .title{
                display: block;
                margin-bottom: 10px;
                width: 340px;
                height: 70px;
                line-height: 2;
                border-radius: 12px;
                background-color: @color-gray;
                box-shadow: -12px 0px @color-gray-light;
                p{
                    font-size: 40px;
                }
            }
            &-content{
                width: 340px;
                height: 375px;
                border-radius: 12px;
                border-top: 0px;
                background-color: @color-gray;
                box-shadow: -12px 0px @color-gray-light;
                .status{
                    display: flex;
                    float: left;
                    width: 298px;
                    height: 38px;
                    background-color: @color-gray;
                    border: 1.5px solid black;
                    border-radius: 19px;
                    margin: 20px 20px 0px 20px;
                    padding-left: 15px;
                    p{
                        font-size: 24px;
                    }
                    .during{
                        width: 108px;
                        height: 36px;
                        border-radius: 19px;
                        background-color: @color-black;
                        margin-left: 112px;
                        p{
                            font-weight: 700;
                        }
                    }
                }
                .description{   
                    display: block;
                    float: left;
                    margin: 20px 0px 0px 20px;
                    .titlee{
                        position: relative;
                        left: 20px;
                        width: 140px;
                        height: 50px;
                        background-color: @color-black;
                        border-radius: 19px;
                        p{
                            font-weight: 700;
                            font-size: 24px;
                        }
                    }
                    .content{
                        position: relative;
                        top: -15px;
                        width: 297px;
                        height: 138px;
                        border-radius: 19px;
                        border: 1.5px solid @color-black;
                        background-color: @color-gray;
                        padding: 7px;
                        p{
                            text-align: justify;
                            font-size: 16px;
                        }
                    }
                }
                .link-block{
                    display: flex;
                    float: left;
                    margin: 10px 20px 0px 20px;
                    .github{
                        margin: 0px 0px 0px 90px;
                        width: 100px;
                        height: 42px;
                        border-radius: 12px;
                        line-height: 1.7;
                        font-size: 24px;
                        background-color: @color-gray-light;
                        box-shadow: 0em 0.2em 5px @color-black;
                        a{
                            color: @color-white;
                        }
                    }
                }
            }
        }
    }
    .button__work{
        position: relative;
        display: flex;
        top:-70px;
        .left-line{
            position: absolute;
            top: 15px;
            width: 650px;
            border: 1.5px solid  @color-white;
        }
        .right-line{
            position: absolute;
            top: 15px;
            width: 644px;
            right: 0;
            border: 1.5px solid  @color-white;
        }
        .content-button{    
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 1px solid @color-white;
            background-color: @color-gray;
            margin: 0px 0px 0px 49.15%;
            p{
                margin: 1px 0px 0px 6px;
                font-size: 18px;
                font-weight: 400;
                font-family: 'Roboto';
            }
        }
    }
}