@color-inside-heder: #2E0000;
@color-inside: #130000;
@color-outside: #937731;
@color: #554827;


*,
*::before,
*::after {
    box-sizing: border-box;
}

.home{
    position: relative;
    .name {
        margin: 15% 0px 20px 4px;
        text-align: -webkit-center;
        h1 {
            font-size: 96px;
            letter-spacing: 7px;
            color: @color-inside-heder;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: @color-outside;
        }
    }
    .dotes {
        margin-bottom: 30px;
        text-align: -webkit-center;
        #d1,#d2,#d3 {
            display: inline; /* Отображать как строчный элемент */
            margin-right: 8px;
            padding: 0px 1px 0px 10px;
            font-size: 10px;
            background-color: @color;
            border-radius: 50%;
        }
    }
    .view {
        margin: 0px 0px 0px 28.5%;  
        font-size: 18px;  
        height: 198px; 
        &__red__block {
            display: flex;
            width: 734px;
            height: 198px;
            border-radius: 19px;
            float: left;
            background-color: @color-inside;
            color: @color-outside;
            font-weight: 700;
            border: 1px solid @color-outside;
            .red__block__content p{
                margin: 22px 0px 11px 25px;
            }
        }
        &__black_block {
            margin-left: 100px;
            font-weight: 400;
            border-radius: 19px;
            width: 505px;
            height: 196px;
            background-color: black;
            border-left: 1px solid @color-outside;
            .black_block__content p{
                margin: 22px 0px 11px 25px;
            }
        }
    }
    .button__home{
        margin-top: 9.5%;
        .left-line{
            position: absolute;
            top: 400px;
            width: 820px;
            margin-top: 9%;
            border: 2px solid  @color-inside-heder;
        }
        .right-line{
            position: absolute;
            top: 400px;
            width: 820px;
            right: 0;
            margin-top: 9%;
            border: 2px solid  @color-inside-heder;
        }
        .content-button{
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 1.5px solid @color-outside;
            margin: 10px 0px 0px 49.2%;
            button{
                margin: 12px 0px 0px 6px;
            }
        }
    }
}

    .about{
        margin-top: 20px;
        text-align: -webkit-center;
        h2{
            
            font-size: 48px;
            letter-spacing: 7px;
            color: @color-inside-heder;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: @color-outside;
        }
        &-content{
            text-align:justify;
            width: 644px;
            height: 541px;
            font-size: 24px;
            margin-top: 60px;
            color: @color-outside;
            .head{
                margin-top: 50px;
            }
            .myself{
                margin: 15px 0px 15px 0px;
            }
            .footer{
                margin: 15px 0px 60px 0px;
            }
        }

    }

